BOT_NAME=NamaBot
OWNER_BOT=Rigeeru
PREFIX=/ # Untuk akses botnya di chat (cnth. /ping)
BOT_NUMBER=6281234567890
API_KEY_EXSALAPI=freepublic  # Didapatkan melalui https://exsalapi.my.id/
API_KEY_BAGAHPROJECT=  # Didapatkan melalui https://api.bagahproject.com/
API_KEY_BAGAHPROJECT2= # Kosongkan jika tidak memiliki key kedua
